{% extends "../base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
<style>
  .g-3 {
    --bs-gutter-x: 25px;
  }
</style>
{% block content %}
<div class="album py-5 bg-white">
  <div class="container">
    <center>
        {% if searched %}
            <div class="pb-3 h3">Search Results for {{ searched }}</div>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm">
                          <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                          <div class="card-body">
                            <p class="card-text">
                              <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <small class="text-muted"></small>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
              </div>
                <br></br>

        {% else %}
            <h2>You haven't searched anything yet...</h2>
        {% endif %}

    </center>
  </div>
</div>
{% endblock %}